src/main/mule/batchprocessing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="1657101e-ebe1-4673-a625-e8082427c280" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Chetankatta@7279" database="studentdb" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5578a3ba-814d-44cb-9ccb-4bab05c7a52d" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="batchprocessingFlow" doc:id="1898fa75-f8c8-4a02-b9fa-6729d8ffd9aa" >
		<http:listener doc:name="Listener" doc:id="f7dc1d58-d099-4603-9fe1-e0fadb14ecad" config-ref="HTTP_Listener_config" path="/bp"/>
		<ee:transform doc:name="Transform Message" doc:id="b02babd3-c5cf-4004-9df2-2539d20954e3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---

1 to 40 map {
	stuid: 100 + $$,
	stuname: "chetan",
	stunum: 985858585,
	stufees: 'one thousand',
	stulocation: 'Hyd'
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="a1b50091-708a-4934-afee-cbda5c30f79d" config-ref="Database_Config">
							<db:sql><![CDATA[insert into stu (stuid, stuname, stunum, stufees, stulocation) values(:stuid, :stuname, :stunum, :stufees, :stulocation)]]>
							</db:sql>
						</db:bulk-insert>
		<logger level="INFO" doc:name="Logger" doc:id="06471ee4-3923-4e4b-ad9c-9c12e11f4241" message="#[payload]" />
	</flow>
</mule>
